body{
	margin-top:70px;
}


.col-md-8{
	background-color:#80cbc4;
	height:600px;
	border:none;
	border-radius:5px;
	box-shadow: 0px 0px 10px;
	overflow-y:scroll; 
}

.col-md-8::-webkit-scrollbar{
  width:10px;
} 

.col-md-8::-webkit-scrollbar-thumb{
 border-radius:5px;
 background:#e0e0e0;
 
} 


.issform input{

	width:250px;
}